[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "cheginit.github.io"]
	path = cheginit.github.io
	url = git@github.com:cheginit/cheginit.github.io
